body {
  background-image: url("../immagini/sfondoHatPin.jpg");
  background-size: 100%;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;

}
.generico {
  margin: auto;
  margin-top: 150px;
  width: 400px;
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: bold;

}
.text {
  color: #038C5A;


}
#titolo {
  margin: auto;
  margin-top: 80px;
  width: 400px;
  text-align: center;
}
#submitButton {
  float: right;
}
.circle {
    margin: auto;
    width:150px;
    height:150px;
    border-radius:250px;
    line-height:500px;
    text-align:center;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #038C5A;
}
#nomeApp {
}
.btn-danger {
  background-color: #038C5A;
}
.bg-custom {
  background-color: #F2C6A0;
}
