body {
  background-image: url("../immagini/sfondoHatPin.png");
  background-size: 100%;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
}
#formDash {
  height: 100vh;
  opacity: 85%;
  background-image: url("../immagini/sfondoHatPin.png");
  text-align: center;

}
#map {
	height: 100vw;
	width: 100%;
	border-left: solid;
	border-right: solid;
/*	border-color: #038C5A;*/
}
#formSide{
  height: 100%;
  margin-top: 5px;
}
.generico {
  margin: auto;
  margin-top: 80px;
  width: 400px;
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: bold;

}
.text {
  color: #038C5A;
}
#titolo {
  margin: auto;
  margin-top: 80px;
  width: 400px;
  text-align: center;
}
.circle {
    margin: auto;
    width:150px;
    height:150px;
    border-radius:250px;
    line-height:500px;
    text-align:center;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #038C5A;
    margin-bottom: 50px;
    margin-top: 50px;
}
.btn-danger {
  background-color: #038C5A;
}
.btn-info{
  background-image: linear-gradient(15deg,  #d93223 0%, #F2C6A0 100%);
}
.btn-info:hover{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.btn-info:active{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.btn-info:focus{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.bg-custom {
  background-image: linear-gradient(15deg, #D9621E 0%, #F2C6A0 100%);
}
.bg-custom2 {
  background-color: #038C5A;
}
.bg-custom3 {
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
}
.navbar-dark {
  font-style: bold;
  color: #038C5A;
  font-family: sans-serif;
  opacity: 85%;
/*border-style: solid;
	border-color: #038C5A; */
}
.navbar .navbar-text {
    font-style: bold;
    color: #038C5A;
}
.navItem{
  padding: 6px;
  float: left;
  position: relative;
  left: 5px;
  top: 5px;
  margin: 12px;
}
#navHome{
 margin-left: 0px;
 width: 175px;

}
#navBacheca{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navBacheca:hover{
color:  #038C5A;
}
#navProfilo{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navProfilo:hover{
color:  #038C5A;
}
#navImpostazioni{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navImpostazioni:hover{
color:  #038C5A;
}
#navPin{
  margin-righ: 0px;
  width: 175px;
}
#imagePinHub{
  margin: auto;
  height: 37%;
  width: 73%;
}
#wrapper {
   overflow-x: hidden;
}
#sidebar-wrapper {
 min-height: 100vh;
 margin-left: -15rem;
 -webkit-transition: margin .25s ease-out;
 -moz-transition: margin .25s ease-out;
 -o-transition: margin .25s ease-out;
 transition: margin .25s ease-out;
 width: 25rem;
 background-image: url("../immagini/sfondoHatPin.png");
}
#sidebar-wrapper .sidebar-heading {
 padding: 0.875rem 1.25rem;
 font-size: 1.2rem;
}
.NavBarsearch{
}
#page-content-wrapper {
 min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
 margin-left: 0;
}
@media (min-width: 768px) {
 #sidebar-wrapper {
   margin-left: 0;
 }
 #page-content-wrapper {
   min-width: 0;
   width: 100%;
 }
 #wrapper.toggled #sidebar-wrapper {
   margin-left: -25rem;
 }
.sideNavForm {
  margin: 8px;
}
#pinButton{
  padding: 20px;
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
  font-weight: bold;
  border-radius:4150px;
  color: white;
  margin-bottom: 20px;
}
#pinButton:hover{
  background-image: linear-gradient(15deg, #F2C6A0 0%, #038C5A 100%);
  color: #d93223;
}
.logoHatPin{
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#scrittaHatPin{
  height: 47%;
  width: 47%;
}
#scrittaAddPin{
  height: 47%;
  width: 47%;
}
#postForm{
margin-top: 50px;
margin: 50px;
opacity: 85%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-weight: bold;
font-family: sans-serif;
text-align: center;
}
#containterPin{
margin: 200px;
margin-top: 5vw;
margin-bottom: 50px;
padding-bottom: 50px;
padding-top: 50px;
opacity: 95%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ref_imgForm {
  max-width: 400px;
  height: auto;
  margin-bottom: 100px;
}
.titoloPost {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
.smallText {
  font-size: x-small;
}
.errorText {
	font-size: small;
	color: red !important;
	text-align: center;
}
#erroreLatLng {
	margin-right: auto;
    margin-top: 20px;
}
.chebelcarattere{
font-weight: bold;
font-family: sans-serif;
color: white ;
}

#testone{
text-align: center;
margin-left: 100px;
margin-right: 100px;
}
.widget-author {
  margin-bottom: 58px;
}
.divprimacolonna {
  top: 10px;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
  border-radius:4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pallino{
padding: 30px;
margin: auto;
}
.pallino img {
width: 62%;
height: 62%;
display: block;
margin-left: auto;
margin-right: auto;
}
#bottone1 {
margin: auto;
padding: 20px;
background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
font-weight: bold;
border-radius:4150px;
color: white;
}
#bottone1:hover {
background-image: linear-gradient(15deg, #F2C6A0 0%, #038C5A 100%);
color: #d93223;
}
#testocredenziali{
  text-align: center;
}
#inputNavbar {
  margin-top: 8px;
}
}
