body {
  background-image: url("../immagini/sfondoHatPin.png");
  background-size: 100%;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
}
#formDash {
  height: 100vh;
  opacity: 85%;
  background-image: url("../immagini/sfondoHatPin.png");
  text-align: center;

}
#map {
	height: 100vw;
	width: 100%;
	border-left: solid;
	border-right: solid;
/*	border-color: #038C5A;*/
}
#formSide{
  height: 100%;
  margin-top: 5px;
}
.generico {
  margin: auto;
  margin-top: 80px;
  width: 400px;
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: bold;

}
.text {
  color: #038C5A;
}
#titolo {
  margin: auto;
  margin-top: 80px;
  width: 400px;
  text-align: center;
}
.circle {
    margin: auto;
    width:150px;
    height:150px;
    border-radius:250px;
    line-height:500px;
    text-align:center;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #038C5A;
    margin-bottom: 50px;
    margin-top: 50px;
}
.btn-danger {
  background-color: #038C5A;
}
.btn-info{
  background-image: linear-gradient(15deg,  #d93223 0%, #F2C6A0 100%);
}
.btn-info:hover{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.btn-info:active{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.btn-info:focus{
  background-image: linear-gradient(15deg,  #F2C6A0 0%, #d93223 100%);
}
.bg-custom {
  background-image: linear-gradient(15deg, #D9621E 0%, #F2C6A0 100%);
}
.bg-custom2 {
  background-color: #038C5A;
}
.bg-custom3 {
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
}
.navbar-dark {
  font-style: bold;
  color: #038C5A;
  font-family: sans-serif;
  opacity: 85%;
/*border-style: solid;
	border-color: #038C5A; */
}
.navbar .navbar-text {
    font-style: bold;
    color: #038C5A;
}
.navItem{
  padding: 6px;
  float: left;
  position: relative;
  left: 5px;
  top: 5px;
  margin: 12px;
}
#navHome{
 margin-left: 0px;
 width: 175px;

}
#navBacheca{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navBacheca:hover{
color:  #038C5A;
}
#navProfilo{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navProfilo:hover{
color:  #038C5A;
}
#navImpostazioni{
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 25%;
}
#navImpostazioni:hover{
color:  #038C5A;
}
#navPin{
  padding-left: 50px;
  padding-right: 50px;
}
#imagePinHub{
  margin: auto;
  height: 37%;
  width: 73%;
}
#wrapper {
   overflow-x: hidden;
}
#sidebar-wrapper {
 min-height: 100vh;
 margin-left: -15rem;
 -webkit-transition: margin .25s ease-out;
 -moz-transition: margin .25s ease-out;
 -o-transition: margin .25s ease-out;
 transition: margin .25s ease-out;
 width: 25rem;
 background-image: url("../immagini/sfondoHatPin.png");
}
#sidebar-wrapper .sidebar-heading {
 padding: 0.875rem 1.25rem;
 font-size: 1.2rem;
}
#page-content-wrapper {
 min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
 margin-left: 0;
}
@media (min-width: 768px) {
 #sidebar-wrapper {
   margin-left: 0;
 }
 #page-content-wrapper {
   min-width: 0;
   width: 100%;
 }
 #wrapper.toggled #sidebar-wrapper {
   margin-left: -25rem;
 }
.sideNavForm {
  margin: 8px;
}
#pinButton{
  padding: 20px;
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
  font-weight: bold;
  border-radius:4150px;
  color: white;
  margin-bottom: 20px;
}
#pinButton:hover{
  background-image: linear-gradient(15deg, #F2C6A0 0%, #038C5A 100%);
  color: #d93223;
}
.logoHatPin{
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#scrittaHatPin{
  height: 47%;
  width: 47%;
}
