body{
  overflow-x:hidden;
}

.chebelcarattere{
font-weight: bold;
font-family: 'Rowdies', cursive;
color: #3f3f3f ;
opacity: 80%;
}

#testone{
text-align: center;
margin-left: 100px;
margin-right: 100px;

}

.widget-author {
  margin-bottom: 58px;
}
.divprimacolonna {
  top: 10px;
  position: relative;
  padding: 20px;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
  border-radius:4%;
}

.pallino{
padding: 30px;
margin: auto;
}

.pallino img {
width: 62%;
height: 62%;
display: block;
margin-left: auto;
margin-right: auto;

}

#bottone1 {
margin: auto;
padding: 20px;
background-image: linear-gradient(15deg, #038C5A 0%, #F2C6A0 100%);
font-weight: bold;
border-radius:4150px;
color: white;
}

#bottone1:hover {
background-image: linear-gradient(15deg, #F2C6A0 0%, #038C5A 100%);
color: #d93223;
}

#testocredenziali{
  text-align: center;
}
